<div class="body">
  <input class="searchinput" #searchOrder id="search-order" placeholder="请输入订单号" />
  <button title="search order" (click)="search(searchOrder.value)">查询</button>
  <mat-tab-group (selectedIndexChange)="selectedIndex=$event">
    <mat-tab label="今日">
      <app-comp-order [orders]="curorders"></app-comp-order>
    </mat-tab>
    <mat-tab label="昨日">
      <app-comp-order [orders]="yesorders"></app-comp-order>
    </mat-tab>
    <mat-tab label="近三天">
      <app-comp-order [orders]="narorders"></app-comp-order>
    </mat-tab>
  </mat-tab-group>  
</div>
<app-comp-tab [activeindex]=2></app-comp-tab>